body{background-image: url(1.jpg);} :root {
  --mouse-x: 0;
  --mouse-y: 0;
}
* {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  -webkit-transform: translateZ(20px) rotateX(calc(var(--mouse-y) * 45deg)) rotateY(calc(var(--mouse-x) * 45deg));
          transform: translateZ(20px) rotateX(calc(var(--mouse-y) * 45deg)) rotateY(calc(var(--mouse-x) * 45deg));
}

@-webkit-keyframes pulse {
  to {
    opacity: 0.5;
  }
}

@keyframes pulse {
  to {
    opacity: 0.5;
  }
}
.line {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.line:before, .line:after {
  content: '';
  display: block;
  position: absolute;
  color: #0BFDFD;
  background: white;
  -webkit-transition: all 0.9s cubic-bezier(0.5, 0, 0.5, 1);
  transition: all 0.9s cubic-bezier(0.5, 0, 0.5, 1);
  border-radius: 1ch;
  box-shadow: 0 0 1rem #0BFDFD, inset 0 0 0.125vmin #0BFDFD;
}
.line:after {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
}
.line:nth-child(2n - 1) {
  height: 50%;
  width: 0.5vmin;
}
.line:nth-child(2n - 1):before, .line:nth-child(2n - 1):after {
  height: calc(50% - 0.25vmin);
  width: 100%;
}
.line:nth-child(2n - 1):before {
  top: 0.25vmin;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.line:nth-child(2n - 1):after {
  bottom: 0.25vmin;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.line:nth-child(2n) {
  width: 100%;
  height: 0.5vmin;
}
.line:nth-child(2n):before, .line:nth-child(2n):after {
  height: 100%;
  width: calc(50% - 0.25vmin);
}
.line:nth-child(2n):before {
  left: 0.25vmin;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.line:nth-child(2n):after {
  right: 0.25vmin;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
.line:nth-child(1) {
  top: 0;
  left: 0;
}
.line:nth-child(2) {
  top: 0;
  left: 0;
}
.line:nth-child(3) {
  top: 0;
  right: 0;
}
.line:nth-child(4) {
  top: 50%;
  left: 0;
}
.line:nth-child(5) {
  top: 50%;
  left: 0;
}
.line:nth-child(6) {
  bottom: 0;
  left: 0;
}
.line:nth-child(7) {
  top: 50%;
  right: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../1.jpg) no-repeat;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

*:before, *:after {
  content: '';
  display: block;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}
.button1 {
  background-color: white;
  color: gray;
  border: 2px solid #000000; /* Green */
  position: absolute;
  top: 20%;
  left: 45%;
}
.button1:hover {
  background-color: #000000;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1 {
  width: 10%;
}
.button1:active {
  background-color: #000000;
  box-shadow: 0 5px #333;
  transform: translateY(4px);
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container{
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: "montserrat";
}
body{
  background: #000;
}

.btn{
  position: absolute;
  top: 40px;
  right: 40px;
  color: white;
  font-size: 36px;
  cursor: pointer;
  transition: 0.4s;
}
.btn:hover{
  transform: rotate(90deg);
}


.box{
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f1f1f1;
  width: 400px;
  transition: 1s;
}
.box-show{
  top: 50%;
}
.box h2{
  background: #2c3e50;
  padding: 20px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}
.box-c{
  padding: 20px 40px;
  overflow: hidden;
}
.txtb{
  position: relative;
  margin-bottom: 10px;
}
#hex{
  width: 100%;
  padding: 0 60px;
  height: 40px;
  border: 1px solid #2c3e50;
}
.prev{
  width: 50px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.apply{
  float: right;
  border: none;
  background: #2c3e50;
  text-transform: uppercase;
  padding: 6px 30px;
  color: white;
  cursor: pointer;
}
