.badge {
	display: inline-block;
	width: auto;
	height: 1.4em;
	vertical-align: -0.125em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	transition-duration: 0.2s;
	transition-property: transform;
}

.badge:hover {
	transform: translateY(-0.1em);
}

.badgeWrapper {
	display: inline-block;
	padding: 0.1em;
}
