.app {
	position: relative;
	padding: 20px 0 20px 0;
	width: 500px;
	animation: fadeIn ease 1.5s;
	z-index: 2;
	user-select: none;
}

.pageWrapper {
	box-sizing: border-box;
	min-height: 100%;
	padding: 0 0 40px;
	position: relative;
}

@media screen and (min-width: 500px) {
	.app {
		transform: translate(-50%);
		left: 50%;
		width: 85%;
	}
}

@media screen and (min-width: 1400px) {
	.app {
		width: 1190px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
