.footer {
	font-size: 17px;
	bottom: 0;
	height: 24px;
	left: 0;
	position: absolute;
	width: 100%;
	background-color: var(--navbar);
	z-index: 3;
	overflow: hidden;
	user-select: none;
	text-align: center;
}
