.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #101010;
	color: white;
	padding: 50px;
	z-index: 1000;
	border-radius: 10px;
	border: 1px solid var(--border);
	text-align: center;
	opacity: 1;
	transition-duration: 0.3s;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--overlay);
	z-index: 1000;
}

.closeModal {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: Arial, sans-serif;
	cursor: pointer;
	font-weight: 300;
	font-size: 20px;
	background-color: var(--close);
	color: white;
	padding: 0px;
	width: 25px;
	height: 25px;
	text-align: center;
	transition-duration: 0.2s;
}

.closeModal:hover {
	background-color: var(--close-hover);
}
.fade {
	opacity: 0;
}

.modalContent {
	overflow-wrap: break-word;
	max-width: uwuuwuuwu30vw;
}
