.navbar {
	/* fallback */
	position: absolute;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--navbar);
	/* border: 1px red solid; */
	z-index: 3;
	/* 	backdrop-filter: blur(1px); */
}

.logo {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 120px;
	margin-left: 20px;
	cursor: pointer;
}

.navOverlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 4;
	left: -100%;
	top: 0;
	background-color: var(--background);
	background-color: var(--overlay);
	overflow-x: hidden;
	transition: 0.4s;
	/* 	backdrop-filter: blur(2px); */
}

.showNav {
	left: 0;
}

.navElement {
	margin-right: 10px;
}

.navOverlayContent {
	position: relative;
	left: 50%;
	top: 25%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	transform: translate(-50%);
}
.navOverlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: var(--font-normal);
	display: block;
	transition: 0.3s;
}

.navOverlay a:hover,
.navOverlay a:focus {
	color: var(--font-normal);
}

.navOverlay .closebtn {
	position: absolute;
	color: var(--close);
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
}

.navOverlay .closebtn:hover {
	position: absolute;
	color: var(--close-hover);
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.navOverlay a {
		font-size: 20px;
	}
	.navOverlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.menuContainer {
	display: inline-block;
	cursor: pointer;
	margin-right: 15px;
}

.menuContainer > .bar1,
.menuContainer > .bar2,
.menuContainer > .bar3 {
	width: 35px;
	height: 5px;
	background-color: var(--font-normal);
	margin: 6px 0;
	transition: 0.4s;
}

.link {
	color: var(--font-normal);
	transition: color 0.1s;
}

.link {
	color: var(--font-normal);
	text-decoration: none;
	transition-duration: 0.2s;
	cursor: pointer;
	position: relative;
	top: 0;
	transition: top ease 0.2s, color 0.1s;
	display: inline-block;
	padding: 0px 8px;
	position: relative;
}

.link:after {
	background: none repeat scroll 0 0 var(--font-normal);
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.link:hover:after {
	width: 100%;
	left: 0;
}

.link:hover {
	color: var(--logo-color);
	transform: translateY(-0.1em);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
