.spotifyBox {
	position: relative;
	color: var(--body-normal);
	background-color: var(--background-lighter);
	border-radius: var(--border-radius);
	display: inline-flex;
	width: 300px;
	height: 100px;
	padding: 10px;
	box-shadow: var(--popup-shadow);
	margin-top: 10px;
	transition-duration: 0.2s;
	transition-property: transform;
}

.spotifyBox:hover {
	transform: translateY(-3px);
}
.spotifyThumbnail {
	min-width: 100px;
	width: 100px;
	padding: 0;
	margin: 0;
}
.spotifyThumbnail > .imagetag {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
	box-shadow: var(--popup-shadow);
}

.spotifyContent {
	margin: 12px 0px 12px 12px;
	width: 190px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.spotifyContent > p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	margin: 0;
	padding: 0;
}

.spotifyContent > p > a {
	color: var(--body-normal);
	text-decoration: underline var(--logo-color);
	transition-duration: 0.2s;
}
.spotifyContent > p > a:hover {
	color: var(--logo-color);
	text-decoration: underline var(--font-normal);
}

.songTitle {
	font-size: 24px;
}

.artists,
.album {
	font-size: 15px;
}

.imagetag {
	background: rgb(57, 57, 57);
	background: linear-gradient(90deg, rgba(57, 57, 57, 1) 0%, rgba(4, 4, 4, 1) 100%);
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
	outline: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
