.container{
  text-align: center;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.container span{
  text-transform: uppercase;
  display: block;
}
.text1{
  color: #6ab04c;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-bottom: 20px;
  background: #000;
  position: relative;
  animation: text 2s 1;
}
.text {
  padding: 10px;
}
.aboutbot {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-weight: lighter;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 400px;
  height: 280px;
}
.bold {
  font-weight: bold;
  background-color: #6ab04c;
  padding: 10px;
  color: white;
}
.button {
  background-color: white;
  color: grey;
  border: 2.3px solid #000000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  width: 200px;
  height: 55px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: "montserrat";
  position: relative;
  overflow: hidden;
}
.button::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #6ab04c;
  z-index: -1;
  transition: color 0.6s, width 0.8s, height 0.8s ;
}
.button1 {
  position: absolute;
  top: 520px;
  color: #6ab04c;
}
.button1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.button1:hover {
  color: white;
  width: 220px;
  height: 75px;
}
.button1:hover::before {
  height: 180%;
}
.button1:active {
  box-shadow: 0 2px 16px 0 #6ab04c,0 0px 50px 0 #6ab04c;
}
