.button {
  background-color: white;
  color: gray;
  border: 2px solid #000000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 200px;
  left: 50%;
  transform: translate(-50%,-50%);
}
.button1 {
  position: absolute;
  top: 260px;
}
.button1:hover {
  background-color: #6ab04c;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1:active {
  box-shadow: 0 2px 16px 0 #6ab04c,0 0px 50px 0 #6ab04c;
}
.button2 {
  position: absolute;
  top: 330px;
  opacity: 0.3;
}
.button2:hover {
/*
  background-color: #333;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
*/
}
.button2:active {
  /*
  background-color: #000000;
  box-shadow: 0 5px #333;
  transform: translateY(4px);
  */
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}



.container{
  text-align: center;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.container span{
  text-transform: uppercase;
  display: block;
}
.text1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: #000;
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 30px;
  color: #6ab04c;
}
/*   -webkit-text-stroke: 0.5px black; */

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}


*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background: #000;
  min-width: 980px;
}

.btn{
  position: absolute;
  top: 20px;
  right: 40.5px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 9999;
}
.btn:hover{
  transform: rotate(90deg);
  /*opacity: 0.7;*/
}
.btn:active {
  transform: translateY(4px);
}
.box{
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #c0c6c0;
  width: 400px;
  transition: 1s;
  z-index: 9999;
}
.box-show{
  top: 50%;
}
.box h2{
  background: #6ab04c;
  padding: 20px;
  font-size: 26px;
  color: white;
  text-transform: uppercase;
}
.box-c{
  padding: 20px 40px;
  overflow: hidden;
}
.txtb{
  position: relative;
  margin-bottom: 10px;
}
#hex{
  width: 100%;
  padding: 0 60px;
  height: 40px;
  border: 1px solid #2c3e50;
}
.prev{
  width: 50px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.apply{
  float: right;
  border: none;
  background: #6ab04c;
  text-transform: uppercase;
  padding: 6px 30px;
  color: white;
  cursor: pointer;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 116px;
  background-color: #f9f6f6;
  position: absolute;
  top: 80px;
  left: -150px;
  z-index: 1;
  border-radius: 25px;
  justify-content: center;
  opacity: 0.9;
  transition-duration: 0.5s;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #6ab04c;
  border-radius: 28px;
  font-size: 140%;
  transition-duration: 0.2s;
}
li a:active {
  transform: translateY(4px);
}
a {
  font-size: 115%;
  letter-spacing: 1px;
 cursor: pointer;
}
.text1.transparent {
  background-color: rgba(0, 0, 0, 0);
}
.text2.pink {
  color: pink;
}
.button1.pink:hover {
  background-color: pink;
}
.button1.pink:active {
  box-shadow: 0 2px 16px 0 pink,0 0px 50px 0 pink;
}
.btn.pink {
  color: pink;
}
.menubtn.pink {
  color: pink;
}
li a.pink:hover {
  background-color: pink;
}
.box h2.pink {
  background-color: pink;
}
.apply.pink {
  background-color: pink;
}
body.konami {
  background-image: url('https://w.wallhaven.cc/full/j5/wallhaven-j5qlly.jpg');
  /*
  https://www.tokkoro.com/picsup/5838293-dva-overwatch-overwatch-games-hd-artist-artwork-digital-art-deviantart.jpg
  https://a-static.besthdwallpaper.com/d-va-fran-overwatch-tapet-2560x1600-1069_7.jpg
  https://w.wallhaven.cc/full/j5/wallhaven-j5qlly.jpg
  https://w.wallhaven.cc/full/8x/wallhaven-8xlkv1.jpg
  */
  justify-content: center;
  left: 50%;
  background-position: top center;
  background-repeat:no-repeat;
  background-size: cover;
}
body.darling {
  background-image: url('https://images.hdqwalls.com/download/4k-zero-two-darling-in-the-franxx-w4-1400x900.jpg');
  justify-content: center;
  left: 50%;
  background-position: top center;
  background-repeat:no-repeat;
  background-size: cover;
}
.menubtn {
  position: absolute;
  top: 20px;
  left: 43px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  transition: 0.4s;
}
.menubtn:hover {
  opacity: 0.7;
}
.menubtn:active {
  transform: translateY(4px);
}
.show {
  position: absolute;
  left: 3px;
  filter: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
