.HELL-YEAH-BABY-CSS {
	filter: brightness(0.8) grayscale(0.8) blur(1px);
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
	outline: none;
	box-shadow: none;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 8px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 35%);
	border-radius: 5px;
	transition: ease-in-out 0.2s background;
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 30%);
}
