body{background-image: url(1.jpg);} :root {
  --mouse-x: 0;
  --mouse-y: 0;
}
* {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  -webkit-transform: translateZ(20px) rotateX(calc(var(--mouse-y) * 45deg)) rotateY(calc(var(--mouse-x) * 45deg));
          transform: translateZ(20px) rotateX(calc(var(--mouse-y) * 45deg)) rotateY(calc(var(--mouse-x) * 45deg));
}

@-webkit-keyframes pulse {
  to {
    opacity: 0.5;
  }
}

@keyframes pulse {
  to {
    opacity: 0.5;
  }
}
.line {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.line:before, .line:after {
  content: '';
  display: block;
  position: absolute;
  color: #0BFDFD;
  background: white;
  -webkit-transition: all 0.9s cubic-bezier(0.5, 0, 0.5, 1);
  transition: all 0.9s cubic-bezier(0.5, 0, 0.5, 1);
  border-radius: 1ch;
  box-shadow: 0 0 1rem #0BFDFD, inset 0 0 0.125vmin #0BFDFD;
}
.line:after {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
}
.line:nth-child(2n - 1) {
  height: 50%;
  width: 0.5vmin;
}
.line:nth-child(2n - 1):before, .line:nth-child(2n - 1):after {
  height: calc(50% - 0.25vmin);
  width: 100%;
}
.line:nth-child(2n - 1):before {
  top: 0.25vmin;
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.line:nth-child(2n - 1):after {
  bottom: 0.25vmin;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.line:nth-child(2n) {
  width: 100%;
  height: 0.5vmin;
}
.line:nth-child(2n):before, .line:nth-child(2n):after {
  height: 100%;
  width: calc(50% - 0.25vmin);
}
.line:nth-child(2n):before {
  left: 0.25vmin;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}
.line:nth-child(2n):after {
  right: 0.25vmin;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
.line:nth-child(1) {
  top: 0;
  left: 0;
}
.line:nth-child(2) {
  top: 0;
  left: 0;
}
.line:nth-child(3) {
  top: 0;
  right: 0;
}
.line:nth-child(4) {
  top: 50%;
  left: 0;
}
.line:nth-child(5) {
  top: 50%;
  left: 0;
}
.line:nth-child(6) {
  bottom: 0;
  left: 0;
}
.line:nth-child(7) {
  top: 50%;
  right: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../1.jpg) no-repeat;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

*:before, *:after {
  content: '';
  display: block;
}
