.intro {
  position: absolute;
  top: 400px;
  transform: translate( -50%, -50% );
  left: 50%;
  font-size: 35px;
  color: black;
}


.braker {
  font-size: 25px;
  position: absolute;
  left: 50%;
  transform: translate( -50%, -50% );
  padding: 10px;
  width: 800px;
  text-align: center;
  background-color: white;
  border-color: #935529;
  border-style: double;
  border-width: 6px;
  border-radius: 20px;
  padding: 10px;
  z-index: 5;
}
.braker1 {top: 400px;}

.products {
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate( -50%, -50% );
  background-color: red;
  width: 100%;
  height: auto;
}

.product {
  position: absolute;
  left: 50%;
  transform: translate( -50%, -50% );
  border-radius: 20px;
  background-color: #935529;
  width: 1200px;
  height: 800px;
  border-color: white;
  border-style: double;
  border-width: 6px;
}
.productdesc {
  font-family: 'Varela Round';
  font-size: 30px;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate( -50%, -50% );
  transition-duration: 0.2s;
  background-color: white;
  border-color: #935529;
  border-style: double;
  border-width: 6px;
  border-radius: 20px;
  padding: 10px;
  width: 900px;
  text-align: center;
}
.productdesc:hover {  font-size: 33px; }
.product1 {
  top: 400px;
}
.product2 {
  top: 1300px;
}
.productimg {
  width: calc(1200px * 0.9);
  height: calc(675px * 0.9);
  position: absolute;
  left: 50%;
  transform: translate( -50%, -50% );
  top: 45%;
  border-radius: 20px;
  transition-duration: 0.2s;
}
.productimg:hover {
  width: calc(1200px * 0.92);
  height: calc(675px * 0.92);
}
.midline2 {top: 850px;}

@keyframes hide {
  to { z-index: 0; opacity: 0.5; }
  from { z-index: 999;  opacity: 1; }
}

.aboutus {
  position: absolute;
  right: -150px;
  top: 220px;
  transform: translate( -50% );
  width: 300px;
  height: 100px;
  background-color: white;
  border-color: #935529;
  border-style: double;
  border-width: 6px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  animation: hide 0.2s linear forwards;
  opacity: 0.5;
}

@keyframes show {
  from { z-index: 0; opacity: 0.5; }
  to { z-index: 999;  opacity: 1; }
}


.aboutus:hover {
  animation: show 0.2s linear forwards;
}
.learnmore {
  font-weight: bold;
  background-color: white;
  border-color: #935529;
  border-style: double;
  border-width: 6px;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  /* top: 112px */
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 270px;
  transition-duration: 0.2s;
}
.learnmore:hover {
  background-color:  #935529;
  border-color: white;
  color: white;
  z-index: 999;
}







.hidden {top: -50%;}
.slow_show {transition-duration: 0.9s;}
