.comment {
	color: var(--font-normal);
	text-decoration: underline var(--logo-color);
	transition-duration: 0.3s;
}
.comment:hover {
	color: var(--logo-color);
	text-decoration: underline var(--font-normal);
}

.spacer {
	color: var(--logo-color);
}
