.codeBlock {
	display: block;
	white-space: pre-wrap;
	background-color: var(--textboxes-background);
	padding: 0.5rem;
	border-radius: 0.5rem;
	word-wrap: break-word;
}

.buttonGoBack {
	margin-top: 5px;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 1rem 1.5rem;
	color: var(--font-normal);
	cursor: pointer;
	outline: none;
	border-radius: 20px;
	border: 2px solid var(--border);
	background: none;
	font-size: 16px;
	box-shadow: var(--popup-shadow);
	transition-duration: 0.2s;
	transition-property: transform;
}

.buttonGoBack:hover {
	transform: translateY(-2px);
}
