.usernameColor {
	background: var(--logo-color-grad);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.links {
	margin-top: 20px;
	z-index: 2;
	cursor: default;
	text-align: center;
	padding: 10px;
}
.link {
	color: var(--text-normal);
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	background-color: var(--background-lighter);
	box-shadow: var(--popup-shadow);
	border-radius: var(--border-radius);
	padding: 10px;
	margin: 10px;
	border: none;
	transition-duration: 0.2s;
	transition-property: transform;
}

.link:hover {
	transform: translateY(-3px);
}
