.messageInput {
	position: relative;
	background-color: var(--background);
	color: var(--font-normal);
	font-family: var(--default-font-family);
	font-size: 15px;
	width: 300px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	resize: none;
	transition-duration: 0.2s;
	outline: none;
}

.messageInput:focus {
	/* background-color: var(--background-hover);
	color: var(--font-normal-hover); */
	background-color: rgba(255, 255, 255, 0.1);
	outline-style: solid;
	outline-width: 2px;
	outline-color: var(--logo);
}

.nameInput {
	height: 15px;
}

.formWrapper {
	margin-top: 20px;
}

.buttonWrapper {
	margin-top: 10px;
}
