.codeBlock {
	user-select: text;
	background-color: var(--background);
	border-radius: 8px;
	border-color: var(--font-normal);
	border-width: 1px;
	border-style: solid;
	margin: 10px;
	padding: 10px;
	font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
	display: inline-block;
}
.codeBlock::selection {
	color: var(--logo);
}
