*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background: #000;
  min-width: 980px;
  cursor: context-menu;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  left: 50%;
  background-position: top center;
}

.btn{
  position: absolute;
  top: 20px;
  right: 40.5px;
  color: white;
  font-size: 46px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 9999;
  opacity: 0.7;
}
.btn:hover{
  transform: rotate(90deg);
  opacity: 1;
}
.btn:active {
  transform: translateY(4px);
}
.box{
  position: absolute;
  top: -500px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #c0c6c0;
  width: 400px;
  transition: 1s;
  z-index: 10000;
}
.box-show{
  top: 50%;
  box-shadow: 0 0px 40px 0 #6ab04c,0 0px 100px 10px #6ab04c;
}
.box h2{
  background: #6ab04c;
  padding: 20px;
  font-size: 26px;
  color: white;
  text-transform: uppercase;
}
.box-c{
  padding: 20px 40px;
  overflow: hidden;
}
.txtb{
  position: relative;
  margin-bottom: 10px;
}
#hex{
  width: 100%;
  padding: 0 60px;
  height: 40px;
  border: 1px solid #2c3e50;
}
.prev{
  width: 50px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.apply{
  float: right;
  border: none;
  background: #6ab04c;
  text-transform: uppercase;
  padding: 6px 30px;
  color: white;
  cursor: pointer;
}
.chckboxtxt {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
.checkbox {
  display: block;
  position: relative;
  left: 110px;
  top: -23px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transition-duration: 0.2s;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ffffff;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 126px;
  background-color: #f9f6f6;
  position: absolute;
  top: 80px;
  left: -300px;
  z-index: 4;
  border-radius: 25px;
  justify-content: center;
  opacity: 0.9;
  transition-duration: 0.7s;
  box-shadow: 0 0px 40px 0 #6ab04c,0 0px 100px 10px #6ab04c;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}
li a:hover {
  background-color: #6ab04c;
  border-radius: 28px;
  font-size: 150%;
  transition-duration: 0.2s;
}
li a:active {
  transform: translateY(4px);
}
a {
  font-size: 125%;
  letter-spacing: 1px;
  cursor: pointer;
}
.menubtn {
  position: absolute;
  top: 20px;
  left: 43px;
  color: white;
  font-size: 46px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.7;
}
.menubtn:hover {
  opacity: 1;
}
.menubtn:active {
  transform: translateY(4px);
}
.show {
  position: absolute;
  left: 1px;
  filter: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
ul.pink {
  box-shadow: 0 0px 40px 0 pink,0 0px 100px 10px pink;
}
.btn.pink {
  color: pink;
}
.menubtn.pink {
  color: pink;
}
li a.pink:hover {
  background-color: pink;
}
.box h2.pink {
  background-color: pink;
}
.apply.pink {
  background-color: pink;
}
.box-show.pink {
  box-shadow: 0 0px 40px 0 pink,0 0px 100px 10px pink;
}
body.konami {
  background-image: url('https://w.wallhaven.cc/full/j5/wallhaven-j5qlly.jpg');
  /*
  https://www.tokkoro.com/picsup/5838293-dva-overwatch-overwatch-games-hd-artist-artwork-digital-art-deviantart.jpg
  https://a-static.besthdwallpaper.com/d-va-fran-overwatch-tapet-2560x1600-1069_7.jpg
  https://w.wallhaven.cc/full/j5/wallhaven-j5qlly.jpg
  https://w.wallhaven.cc/full/8x/wallhaven-8xlkv1.jpg
  https://w.wallhaven.cc/full/39/wallhaven-39g113.jpg
  */
}
body.konamim {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4395207f-f646-4f8c-9f96-29fddd765a91/dc7avh3-394ff3a5-b080-496c-9ec2-c2b75f984145.png/v1/fill/w_600,h_1067,q_80,strp/d_va_mobile_wallpaper_by_rahawk_san_dc7avh3-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA2NyIsInBhdGgiOiJcL2ZcLzQzOTUyMDdmLWY2NDYtNGY4Yy05Zjk2LTI5ZmRkZDc2NWE5MVwvZGM3YXZoMy0zOTRmZjNhNS1iMDgwLTQ5NmMtOWVjMi1jMmI3NWY5ODQxNDUucG5nIiwid2lkdGgiOiI8PTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ugBRpCtg5SdckDNUX6SnXyNIDjVeMnJtu21FiT2b4Qg');
}
body.darling {
  background-image: url('https://images.hdqwalls.com/download/4k-zero-two-darling-in-the-franxx-w4-1400x900.jpg');
}
body.darlingm {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/958cbd45-5d7a-45eb-a39b-9bb83beac975/dce458g-1ead8199-61c2-4275-983f-c621463ea27e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzk1OGNiZDQ1LTVkN2EtNDVlYi1hMzliLTliYjgzYmVhYzk3NVwvZGNlNDU4Zy0xZWFkODE5OS02MWMyLTQyNzUtOTgzZi1jNjIxNDYzZWEyN2UucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ChSYettIQUavlplkn_rbAT1M0mm7y0nPBRYcdP_HgAc');
}
body.monika {
  background-image: url('https://images3.alphacoders.com/887/887715.png');
  transition-duratio: 4s;
}
.gifbox {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 600px;
  left: 50%;
  height: 250px;
  width: 430px;
  border-style: solid;
  border-color: pink;
  transition-duration: 0.5s;
  opacity: 0.5;
}
.pinkshadow {
  box-shadow: 0 2px 16px 0 pink,0 0px 50px 0 pink;
  opacity: 1;
}
.video {position: absolute; top: -300%; left: 0%; width: 100%; height: 100%; z-index: 999;}
.videoshow {top: 0;}
.videoplay {background-color: black; cursor: progress;}
.hideall {position: absolute; top: -100px;}
.slowmoshow {transition-duration: 1s;}
.button1.monikabtn {top: 500px;}
.hidden {top: -400px;}
.text1.pic, .text2.pic, .aboutme.pic {	background-color: rgba(0, 0, 0, 0.4);}
