*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background: #000;
  min-width: 980px;
  cursor: context-menu;
}

.btn{
  position: absolute;
  top: 20px;
  right: 40.5px;
  color: white;
  font-size: 46px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 9999;
}
.btn:hover{
  transform: rotate(90deg);
  /*opacity: 0.7;*/
}
.btn:active {
  transform: translateY(4px);
}
.box{
  position: absolute;
  top: -500px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #c0c6c0;
  width: 400px;
  transition: 1s;
  z-index: 10000;
}
.box-show{
  top: 50%;
  box-shadow: 0 0px 40px 0 #6ab04c,0 0px 100px 10px #6ab04c;
}
.box h2{
  background: #6ab04c;
  padding: 20px;
  font-size: 26px;
  color: white;
  text-transform: uppercase;
}
.box-c{
  padding: 20px 40px;
  overflow: hidden;
}
.txtb{
  position: relative;
  margin-bottom: 10px;
}
#hex{
  width: 100%;
  padding: 0 60px;
  height: 40px;
  border: 1px solid #2c3e50;
}
.prev{
  width: 50px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.apply{
  float: right;
  border: none;
  background: #6ab04c;
  text-transform: uppercase;
  padding: 6px 30px;
  color: white;
  cursor: pointer;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 126px;
  background-color: #f9f6f6;
  position: absolute;
  top: 80px;
  left: -300px;
  z-index: 4;
  border-radius: 25px;
  justify-content: center;
  opacity: 0.9;
  transition-duration: 0.7s;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #6ab04c;
  border-radius: 28px;
  font-size: 150%;
  transition-duration: 0.2s;
}
li a:active {
  transform: translateY(4px);
}
a {
  font-size: 125%;
  letter-spacing: 1px;
  cursor: pointer;
}
.menubtn {
  position: absolute;
  top: 20px;
  left: 43px;
  color: white;
  font-size: 46px;
  cursor: pointer;
  transition: 0.4s;
}
.menubtn:hover {
  opacity: 0.7;
}
.menubtn:active {
  transform: translateY(4px);
}
.show {
  position: absolute;
  left: 1px;
  filter: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.btn.pink {
  color: pink;
}
.menubtn.pink {
  color: pink;
}
li a.pink:hover {
  background-color: pink;
}
.box h2.pink {
  background-color: pink;
}
.apply.pink {
  background-color: pink;
}
.box-show.pink {
  box-shadow: 0 0px 40px 0 pink,0 0px 100px 10px pink;
}
body.konami {
  background-image: url('https://w.wallhaven.cc/full/j5/wallhaven-j5qlly.jpg');
  /*
  https://www.tokkoro.com/picsup/5838293-dva-overwatch-overwatch-games-hd-artist-artwork-digital-art-deviantart.jpg
  https://a-static.besthdwallpaper.com/d-va-fran-overwatch-tapet-2560x1600-1069_7.jpg
  https://w.wallhaven.cc/full/j5/wallhaven-j5qlly.jpg
  https://w.wallhaven.cc/full/8x/wallhaven-8xlkv1.jpg
  https://w.wallhaven.cc/full/39/wallhaven-39g113.jpg
  */
  justify-content: center;
  left: 50%;
  background-position: top center;
  background-repeat:no-repeat;
  background-size: cover;
}
body.darling {
  background-image: url('https://images.hdqwalls.com/download/4k-zero-two-darling-in-the-franxx-w4-1400x900.jpg');
  justify-content: center;
  left: 50%;
  background-position: top center;
  background-repeat:no-repeat;
  background-size: cover;
}
body.monika {
  background-image: url('https://images3.alphacoders.com/887/887715.png');
  justify-content: center;
  left: 50%;
  background-position: top center;
  background-repeat:no-repeat;
  background-size: cover;
  transition-duratio: 4s;
}
.gifbox {
  transform: translate(-50%,-50%);
  position: absolute;
  top: 600px;
  left: 50%;
  height: 250px;
  width: 430px;
  border-style: solid;
  border-color: pink;
  transition-duration: 0.5s;
  opacity: 0.5;
}
.pinkshadow {
  box-shadow: 0 2px 16px 0 pink,0 0px 50px 0 pink;
  opacity: 1;
}
.video {position: absolute; top: -300%; left: 0%; width: 100%; height: 100%; z-index: 999;}
.videoshow {top: 0;}
.videoplay {background-color: black; cursor: progress;}
.hideall {position: absolute; top: -100px;}
.slowmoshow {transition-duration: 1s;}
.button1.monikabtn {top: 500px;}
.hidden {top: -400px;}
