SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3001/v2/spotify/callback
SPOTIFY_AUTH_USER_ID=1evum6fq9klvekqjbz4cu5v79
REDIS_URL=redis://localhost:6379
PORT=3001
LOCATION_SECRET=sigmaSigmaSigma
WEBHOOK_MESSAGE_ID=
WEBHOOK_MESSAGE_TOKEN=
WEBHOOK_AVATAR=https://cdn.pxseu.com/Nc4z2WvoV.png