.app {
	top: 50px;
}

.bottomPadding {
	padding: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.row {
	flex: 1;
	display: inline-block;
}

.imgrow {
	height: 20%;
	width: 100%;
	overflow: hidden;
}

.imgrow * {
	padding: 10px;
	width: 60%;
	border-radius: 20px;
}

@media screen and (min-width: 800px) {
	.container {
		flex-direction: row;
	}
	.imgrow * {
		width: 100%;
	}
}

@media screen and (min-width: 1400px) {
	.imgrow * {
		width: 80%;
	}
}
