.app {
	top: 50px;
	position: relative;
	transform: translate(-50%);
	left: 50%;
	width: 480px;
	animation: fadeIn ease 1.5s;
	z-index: 2;
}

@media screen and (min-width: 800px) {
	.app {
		width: 700px;
	}
}

@media screen and (min-width: 1400px) {
	.app {
		width: 1200px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bottomPadding {
	padding: 20px;
}
