* {
  font-family: 'Caladea';
}
body {
  background-color: white;
}
.topbar {
  width: 1650px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 99;
  border-radius: 40px;
  transform: translate( -50%, -50% );
  background-color: #935529;
}
.logobox {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 400px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  border-color: #935529;
  border-style: double;
  border-width: 6px;
}
.title {
  position: absolute;
  transform: translate( -50%, -50% );
  left: 70%;
  top: 16%;
}
.slang {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate( -50%, -50% );
  font-family: 'Varela Round';
}
.logoimg {
  position: absolute;
  top: 0;
  left: 9%;
}
.taskbar {
  transform: translate( -50%, -50% );
  position: absolute;
  top: 200px;
  left: 50%;
  width: 600px;
  height: auto;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  border-color: #935529;
  border-style: double;
  border-width: 6px;
}
.taskbartext {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  background-color: white;
  transition-duration: 0.2s;
  border-radius: 20px;
  padding: 10px;
  /* useless
  display: inline-block;
  overflow: auto;
  */
}
.taskbartext:hover {
  color: white;
  background-color: #935529;
}

.midline {
  position: absolute;
  left: 50%;
  width: 99%;
  height: 7px;
  background-color: white;
  z-index: 20;
  border-color: #935529;
  border-style: double;
  border-width: 6px;
  border-radius: 20px;
  transform: translate( -50%, -50% );
}
.midline1 {top: 135px;}
#onnow {background-color: #935529; color: white;}
#onnow:hover {color: black; background-color: white;}