body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

.center {
    padding: 2px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    align-items: center;
    cursor: default;
}

.app {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 100px;
    width: 500px;
    height: 500px;
    animation: 1.5s ease-out 0s 1 fadeIn;
}

a, p {
    color: white;
    transition: color 0.1s;
}
a:hover, p:hover {
    color: #FFA9FF;
}

.back {
    padding-top: 12px;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}