.aboutus {
  position: absolute;
  transform: translate( -50% );
  left: 50%;
  top: 280px;
  font-size: 25px;
  border-color: white;
  border-style: double;
  border-width: 9px;
  background-color: #935529;
  padding: 10px;
  border-radius: 20px;
  width: 900px;
  display: inline-block;
}
.textarea {
  border-color: #935529;
  border-style: double;
  border-width: 9px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
