.button {
  background-color: white;
  color: gray;
  border: 2px solid #000000;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  left: 44%;
  width: 200px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 96px;
  background-size:cover;
}
.button:hover {
  background-color: #333;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.85;
}
.button:active {
  box-shadow: 0 0px 16px 0 white,0 6px 50px 0 white;
  opacity: 0.7;
}

.button1 {
  position: absolute;
  top: 300px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/730/header.jpg");
}
.button2 {
  position: absolute;
  top: 420px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/271590/header.jpg");
}
.button3 {
  position: absolute;
  top: 540px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/359550/header.jpg");
}
.button4 {
  position: absolute;
  top: 660px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/431960/header.jpg");
}
.button5 {
  position: absolute;
  top: 780px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/218620/header.jpg");
}
.button6 {
  position: absolute;
  top: 900px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/365670/header.jpg");
}
.button7 {
  position: absolute;
  top: 1020px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/92/header.jpg");
}
.button8 {
  position: absolute;
  top: 1140px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/236870/header.jpg");
}
.button9 {
  position: absolute;
  top: 1260px;
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/707680/header.jpg");
}

h1 {
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #6ab04c;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  background-color: rgba( 0,0,0,0.2 )
}
.text1 {
  text-align: center;
  position: absolute;
  top: 130px;
}
.text2 {
  text-align: center;
  position: absolute;
  top: 220px;
  font-size: 20px;
  color: white;
}
h1 strong {
  color: #6ab04c;
}
.text1.transparent {
  color: pink;
}
h1 strong.pink {
  color: pink;
}
button.pink:hover {
  background-color: pink;
}
button.pink:active {
  box-shadow: 0 2px 30px 0 pink,0 0px 90px 0 pink;
}
