body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 20px;
}

.particles-js {
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  position: fixed;
  background-color: #000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.center {
  padding: 2px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  align-items: center;
  cursor: default;
}

.app {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 480px;
  animation: 1.5s ease-out 0s 1 fadeIn;
  z-index: 2;
}

a, p {
  color: white;
  transition: color 0.1s;
}
a:hover, p:hover {
  color: #FFA9FF;
}

a {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  transition: color 0.1s;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: top ease 0.2s, color 0.1s;
  
  display: inline-block;
  padding: 0px 20px;
  position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

a:hover {
  color: #FFA9FF;
  top: -2px;
}

.back {
  padding-top: 12px;
}

.image {
  background-image: var(--bg-image);
  width: 500px;
  height: 500px;
  background-size: cover;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
  
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
  background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .7s ease-in;
  z-index: 3;
}

.logoNavbar {
  font-family: "Gang of Three";
  color: #FFA9FF;
  cursor: pointer;
  font-size: 30px;
  margin-left: 20px;
}
  
@font-face {
  font-family: "Gang of Three";
  src: url("/index/font/go3v2.ttf");
}

#nprogress .spinner {
  top: 11px;
  left: 0px;
}
