@import "tailwindcss";

@theme {
	--font-mono: var(--font-geist-mono), ui-monospace, monospace;

	--color-brand-100: #00ccff;
	--color-brand-500: #8066f7;
	--color-brand-900: #ff00ee;

	--color-border-100: rgb(47, 51, 54);

	--animate-gradient-bg: gradient-bg 5s ease infinite;
	--animate-fade-in: fadeIn 500ms ease;
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* twv4 removed cursor pointer? */
button {
	cursor: pointer;
}
