.office {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 300px;
  border-radius: 20px;
  border-color: white;
  border-style: double;
  border-width: 9px;
  width: 800px;
  height: 600px;
  background-color: #935529;
}
.officetext {
  border-color:#935529;
  border-style: double;
  border-width: 9px;
  background-color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 0px;
  transform: translate(-50%);
  left: 50%;
  border-radius: 20px;
  font-size: 25px;
  transition-duration: 0.2s;
}
.officetext:hover {
  border-color: white;
  background-color: #935529;
  color: white;
}
.officeview {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 100px;
  border-radius: 20px;
  border-color: white;
  border-style: double;
  border-width: 9px;
  overflow: hidden;
}
.contactdata {
  position: absolute;
  top: 1050px;
  left: 50%;
  transform: translate(-50%);
  background-color: #935529;
  border-radius: 20px;
  border-color: white;
  border-style: double;
  border-width: 9px;
  padding: 10px;
}
.contactinfo {
  padding: 20px;
  border-radius: 20px;
  border-color: #935529;
  border-style: double;
  border-width: 9px;
  background-color: white;
  display: inline-block;
}
.contactclick {
  font-weight: bold;
  border-color: #935529;
  border-style: double;
  border-width: 9px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.contactclick:hover {
  background-color: #935529;
  border-color: white;
}
.othercontact {
  position: absolute;
  top: 950px;
  left: 50%;
  transform: translate(-50%);
}
