name: Build epp

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [10.x]

    steps:      
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Make envfile
      uses: SpicyPizza/create-envfile@v1.0
      with:
        envkey_ipList: ${{secrets.ipList}},
        envkey_HiddenData: ${{secrets.HiddenData}},
        file_name: .env
    - run: pm2 restart server---main
